certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
decorator==4.4.2
dimod==0.10.5
dwave-cloud-client==0.8.7
dwave-networkx==0.8.8
dwave-preprocessing==0.3.0
dwave-system==1.7.0
dwave-tabu==0.4.0
fasteners==0.16.3
homebase==1.0.1
idna==3.2
minorminer==0.2.6
networkx==2.6.2
numpy==1.20.3
pkg_resources==0.0.0
plucky==0.4.3
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.26.0
scipy==1.7.1
six==1.16.0
urllib3==1.26.6
